.details {
  margin-bottom: $mb-section;
  @include mediaLaptop {
    margin-bottom: $mb-section-laptop;
  }
  @include mediaTablet {
    margin-bottom: $mb-section-tablet;
  }
  
  position: relative;
  &::before {
    content: url('../img/details/bg-left.png');
    position: absolute;
    top: -50%;
    left: 0;
    z-index: -1;
    @include mediaLaptop {
      content: url('../img/details/bg-left-1024.png');
      top: -210px;
    }
    @include mediaTablet {
    content: url('../img/details/bg-right-768.png');
    left: unset;
    right: 0;
    top: -70px;

    }
  }
  &__title {
    @include mediaTablet {
      margin-bottom: 20px;
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 60px;
    @include mediaLaptop-l {
      gap: 20px;
    }
    @include mediaTablet {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  &__text {
    margin-bottom: 15px;
    @include mediaLaptop {
      margin-bottom: 27px;
    }
    @include mediaTablet {
      margin-bottom: 20px;
    }
  }
  &__link {
    font-size: 24px;
    font-weight: 500;
    padding-right: 85px;
    line-height: 52px;
    position: relative;
    text-decoration: underline;
    text-underline-offset: 5px;
    @include mediaTablet {
      padding-right: 2px;
      display: block;
      text-align: center;
    }
    @include mobile-l {
      font-size: 16px;
      text-align: left;
    }
    @include mobile-s {
      padding-bottom: 25px;
    }
  }
  &__link::after {
    content: url('../img/icons/telegram.svg');
    position: absolute;
    right: 0px;
    @include mediaTablet {
      right: unset;
    }
    @include mobile-s {
      right: 40%;
      top: 60%;
    }
  }
  &__link:hover {
    text-decoration: none !important;
  }
  &__link:active {
    text-decoration: underline !important;
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    gap: 20px;
    align-items: end;
    @include mediaLaptop {
      grid-template-columns: 1fr;
    }
    @include mediaTablet {
      display: block;
    }
  }
  &__img-1 {
    @include mediaLaptop {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    @include mediaTablet {
      display: none;
    }
  }
  &__img-1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__img-2 {
    @include mediaLaptop {
      display: none;
    }
  }
  &__img-3 {
    grid-column: 1/-1;
  }
  &__img-3 img {
    @include mediaTablet {
      width: 100%;
    }
  }
}

.form {
  &__text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 14px;
  }
  &__input {
    width: 100%;
    border-bottom: 1px solid #0c3e2e;
    padding: 5px 9px;
    margin-left: 26px;
    @include mediaLaptop-l {
      margin-left: 0;
    }
    color: $color-page;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
  }
  &__input::placeholder {
    color: #d9d9d9;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
  }
  &__btn {
    @include btn;
    display: block;
    margin: 30px 0 40px;
    width: 195px;
    @include mediaLaptop {
      width: 100%;
    }
    @include mediaTablet {
      width: 345px;
      margin: 30px auto 20px;
    }
    @include mobile-l {
      width: 100%;
    }
  }
}
