.work {
  margin-bottom: $mb-section;
  @include mediaLaptop {
    margin-bottom: $mb-section-laptop;
  }
  @include mediaTablet {
    margin-bottom: $mb-section-tablet;
  }
  
  position: relative;
  &::after {
    position: absolute;
    z-index: -1;
    content: url('../img/work/work-bg.png');
    top: -40%;
    right: 0;
    @include mediaLaptop {
      content: url('../img/work/work-bg-1024.png');
      top: unset;
    }
    @include mediaTablet {
      content: url('../img/work/work-bg-768.png');
    }
  }
  &__list {
    font-size: 28px;
    @include mediaTablet {
      font-size: 18px;
    }
    @include mobile-l {
      font-size: 14px;
    }
    font-weight: 600;
    list-style-type: none;
    counter-reset: my-counter;

    max-width: 1055px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
    @include mobile-s {
      display: block;
    }
  }
  &__item {
    position: relative;
    line-height: 185px;
    padding-left: 64px;
    @include mediaTablet {
      line-height: 118px;
      padding-left: 38px;
    }
    @include mobile-l {
      padding-left: 18px;
      line-height: 60px;
    }
    @include mobile-s {
      padding-left: 38px;
    }
  }
  &__item::before {
    content: counter(my-counter, decimal-leading-zero);
    counter-increment: my-counter;
    font-family: $font-numerical;
    position: absolute;
    left: 0px;
    z-index: -1;
    font-size: 128px;
    @include mediaLaptop {
      font-size: 96px;
    }
    @include mediaTablet {
      font-size: 64px;
    }
    @include mobile-l {
      font-size: 36px;
    }
    font-weight: 400;
    letter-spacing: -6px;
    color: rgba(109, 151, 115, 0.2);
    -webkit-text-stroke: 1px rgb(109, 151, 115);
  }
}
