//Fonts

$font-main: 'Inter', sans-serif;
$font-secondary: 'Balsamiq Sans', sans-serif;
$font-accent: 'Inter', sans-serif;
$font-main--bold: 'Inter';
$font-numerical: 'Kaisei Decol', serif;
$font-logo: 'Manrope', sans-serif;

$fz-title: 36px;
$fz-title-laptop: 32px;
$fz-title-tablet: 28px;
$fz-title-mobile: 26px;
$fz-title-mobile-s: 24px;

//Colors

$color-page: #0c3e2e;
$color-main-bg: #fbfdf8;
$color-secondary-bg: rgba(109, 151, 115, 0.1);
$color-btn: #ffba00;
$color-btn-hover: #ffaa00;
$color-border: #ffba00;
$color-number: #bb8a52;

// Spacing
$mb-title: 50px;
$mb-title-laptop: 30px;
$mb-title-mobile: 20px;
$mb-section: 150px;
$mb-section-laptop: 100px;
$mb-section-tablet: 80px;


// Media
$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;
